@{
    ViewBag.Title = "ContactUs";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>   
    <h1>
        Rahil Zafar
    </h1>
    <img src="~/Images/rahil.png" style="height:200px ; width : 150px">
    <h3>
        Email : Rahilzafar2@gmail.com
    </h3>
    </div>



